<div class="p-8">
  <%= form_with model: study_unit do |form| %>
    <% @study_unit&.errors&.full_messages.each do |error| %>
      <%= error %>
    <% end %>

    <div class="mb-5">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div class="mb-5">
      <%= form.label :unit_number %><br>
      <%= form.text_field :unit_number %>
    </div>

    <div class="mb-5">
      <%= form.label :study_branch %><br>
      <%= form.select :study_branch_id,
            options_for_select(StudyBranch.all.pluck(:name, :id)),
            class: "mt-1 block w-full border border-gray-300 rounded-md
                    shadow-sm focus:ring focus:ring-blue-200" %>
    </div>

    <div class="mb-5">
      <%= form.label :content %><br>
      <%= form.rich_text_area :content %>
    </div>

    <%= render "show_exercises", study_unit: study_unit %>
    <div>
      <%= form.submit class: "bg-gray-600 text-white px-4 py-2
                              rounded hover:bg-gray-700 mr-2 mt-6" %>
    </div>
  <% end %>
</div>
