<footer class="bg-white text-black mt-28">
  <div class="container mx-auto flex justify-between items-center p-8">
    <span class="text-left text-2xl">
      2024 Infinite Math
    </span>

    <span class="flex space-x-4">
      <a class="transition-transform transform hover:scale-110">
        <%= image_tag "icons/facebook_icon", alt: "Facebook", class: "w-10 h-10" %>
      </a>
      <a class="transition-transform transform hover:scale-110">
        <%= image_tag "icons/instagram_icon", alt: "Instagram", class: "w-10 h-10" %>
      </a>
      <a class="transition-transform transform hover:scale-110">
        <%= image_tag "icons/linkedin_icon", alt: "Linkedin", class: "w-10 h-10" %>
      </a>
      <a class="transition-transform transform hover:scale-110">
        <%= image_tag "icons/twitter_icon", alt: "Twitter", class: "w-10 h-10" %>
      </a>
      <a class="transition-transform transform hover:scale-110">
        <%= image_tag "icons/youtube_icon", alt: "Youtube", class: "w-10 h-10" %>
      </a>
    </span>
  </div>
</footer>