<div class="p-8">
  <%= form_with model: study_branch do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :course %><br>
      <%= form.select :course_id, options_for_select(
            Course.all.map { |branch| [branch.name, branch.id] }
          ), class: "mt-1 block w-full border border-gray-300
                     rounded-md shadow-sm focus:ring focus:ring-blue-200" %>
    </div>

    <div>
      <%= form.submit class: "bg-gray-600 text-white px-4 py-2
                              rounded hover:bg-gray-700 mr-2 mt-6"%>
    </div>
  <% end %>
</div>