<div>
  <div class="w-full p-8 border-b-4 border-black">
    <span class="text-4xl font-bold">
      <%= @study_branch.name %>
    </span>
  </div>

  <div class="p-8">
    <% if @study_unit.present? %>
      <span class="text-2xl font-bold">
        Unidad <%= "#{@study_unit.unit_number} - #{@study_unit.name}" %>
      </span>

      <p>
         <%= @study_unit.content %>
      </p>

      <%= render partial: 'exercise', collection: @exercises %>
    <% else %>
      <p class="text-2xl">
        No hay unidades de estudios disponibles para la rama <%= "#{@study_branch.name}" %>.
      </p>
    <% end %>
  </div>
</div>
